<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a5fc0a67-88dd-4563-9b7d-1a5537c5e997/resourceGroups/RSG-RCGPPT-ST10438951-SANORTH/providers/Microsoft.Web/sites/gift-givers-10438951</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gift-givers-10438951-cgdgaphegbghg5ez.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>61e76625-bdd6-4ef5-93db-82b3869ad8df</ProjectGuid>
    <PublishUrl>https://gift-givers-10438951-cgdgaphegbghg5ez.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$gift-givers-10438951</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>